@charset "utf-8";
/* This style is for Internet Explore 8 */

.boxhide  { margin-bottom: 60px;}
#commentform #author, #commentform #email, #commentform #url, #commentform textarea { line-height:30px;}
#searchform2 #s { line-height:24px;}
#jobform #contactName, #jobform #emaill, #jobform #jobtitle, #jobform #joblocation, #jobform textarea { line-height:40px;}
#contactform #contactName, #contactform #emaill, #contactform #subject, #contactform textarea { line-height:40px;}
ul.social-stats { display: none; }
#carouselInfoContainer { margin-top: 20px; }
.site-stats, #searchform2 { display: none; }

.header-adv { padding-top: 0px; margin: 0 auto; padding-left: 5px; padding-right: 5px; width: 970px; padding-top: 0px; }
.wrap { width: 980px; }
.content { width: 657px; }
.footer-content, .footer-bottom { width: 980px; }
.twitter-box { width: 230px; }
.jobdate { margin-left: -430px; }
ul.jobs li { width: 580px; }
ul.jobs { width: 608px; }
.banner { width: 600px; }
.banner660Responsive { display: none; }
.post { width: 608px; }
.article-container { width: 560px; }
.article-content { width: 560px; }

.free-item { width: 185px; }
/*ul.jobs li:hover { width: 580px; }*/

.masgalerias { margin-left: -25px; width: 608px; }


#galeriaResponsiveLeft { display: none; }
#galeriaResponsiveRight { display: none; }

.tituloFotos { width: 608px; }
.ieFix { width: 609px; }

#leftController { border: none; background: url('../images/fiba/ieArrowLeft.png'); width: 20px; height: 30px; }
#rightController { border: none; background: url('../images/fiba/ieArrowRight.png'); width: 20px; height: 30px; }